* {
    box-sizing: border-box
}

.gradient {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);

}


.d-flex {
    display: flex
}

.sect-size {
    width: 100%;
    min-height: 700px;
    position: center;

}

.wave-top {
    width: 100%;
    min-height: 220px;
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-image: url(img/wave_top.svg);
}

.wave-bottom {
    width: 100%;
    min-height: 140px;
    position: relative;
    background-position: top;
    background-size: cover;
    background-image: url(img/wave_bot.svg);
}

.flex-d-col {
    flex-direction: column;
}

.flex-j-sbtw {
    justify-content: space-between;

}

.datafield {
    position: relative;
    width: 70%;
    min-height: 300px;
    margin: 1em;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;


}

.flex-ai-center {
    align-items: center;
}

.pos-relative {
    position: relative
}


